:root {
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
    --background: #E5E5E5
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'DM Sans', sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

h1 {
    font-size: 2.4rem;
    line-height: 2.6rem;
}

h2 {
    color: var(--just-white);
    font-size: 1.8rem;
    line-height: 18px;
}

p {
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
}


header {
    width: 100%;   
    height: max-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 320px;
    text-align: center;
    background: linear-gradient(207.8deg, #201e1c, #f7931a);
    color: var(--just-white);
}

header h1 {
    margin-top: 33px;
}

header img {
    width: 150px;
    height: 24px;
    margin-top: 39px;
    align-self: center ;
}

header p {
    margin-top: 24px;
    color: var(--soft-orange);
}

.header--title-container {
    width: 90%;
    min-width: 280px;
    max-width: 600px;
    align-self: center;
}

.header--title-container .header--button {
    position: relative;
    display: inline-block;
    top: 20px;
    width: 229px;
    height: 48px;
    padding: 15px;
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.8rem;
    text-decoration: none;
    color: var(--black);
    background-color: var(--off-white);
    box-shadow:0 5px 5px 0 #00000022;
}

.header--title-container .header--button span {
    margin-left: 10px;
    display: inline-block;
    width: 13px;
    height: 13px;
    background-image: url("../assets/arrow_down.svg");
    background-repeat: no-repeat;
    background-position: center;
}

main {
    background-color: var(--off-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;  
    min-width: 320px; 
}

.main--section-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.main--exchange-container {
    min-width: 280px;
    height:max-content;
}

.main--exchange-container h1 {
    margin-top: 33px;
}

.main--exchange-container p {
    margin-top: 12px;
    color: var(--grey);
}

.main--exchange-container img {
    margin-top: 59px;
    width: 195px;
    align-self: center;
}

.main--table-container {
    scroll-snap-align: center;
    margin-top: 48px;
    display: flex;
    flex-direction: column;
}

.main--table-container:nth-of-type(3) {
    margin-top: 0;
}

.main--section-one .plans--slider {
    padding: 0 40px;
}


.main--table-container h2 {
    text-align: start;
    padding-left: 10px;
    font-size: 1.8rem;
    align-self: center;
    color: var(--bitcoin-orange);
    display: grid;
    grid-template-columns: repeat(2, minmax(110px, 150px));
}

#blue_h2 {
    color: var(--secondary-blue);
}


.main--table-container .main--table-grid {
    color: var(--grey);
    background-color: white;
    border-radius: 10px;
    align-self: center;
    margin-top: 12px;
    display: grid;
    grid-template-columns: repeat(2, minmax(110px, 150px));
    grid-template-rows: repeat(4,39px);
}

.main--table-container .main--table-grid p {
    display: flex;
    justify-content: space-between;
    width: 100%;    
    height: 100%;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 1.6rem;
    text-align: left;
    border: 1px solid var(--off-white);
}

.main--table-container .main--table-grid  p .arrow_down {
    margin-right: 10px;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('../assets/trending_down.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main--table-container .main--table-grid p .arrow_up {
    margin-right: 10px;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('../assets/trending_up.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main--table-update {
    align-self: center;
    width: fit-content;
    border-radius: 8px;
    margin-top: 16px;
    margin-bottom: 72px;
    font-size: 1.2rem;
    padding: 8px;
    background-color: var(--soft-orange);
    color: var(--black);
    line-height: 14.52px;
}

.main--table-container:nth-of-type(2) .main--table-update {
    background-color: var(--soft-blue);
}
.main--product {
    background-color: var(--black);
    color: #808080;
    padding: 20px 10px;
}

.main--product-container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main--product-container .product--item__batata-logo{
    position: absolute;
    height: 25px;
    width: 40px;
    top: -32px;
    align-self: center;
    background-image: url('../assets/logo_product.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
}

.main--product-title {
    text-align: center;
}

.main--product-title h1 {
    margin: 0 16px;
    margin-top: 32px;
    color: var(--just-white);
}

.main--product-title p {
    margin-top: 24px;
    margin-bottom: 32px;
}

.product--card-container {
    margin: 0 auto;
}

.product--container {
    min-height: 157px;
    align-self: center;
    min-width: 288px;
    max-width: 350px;
    border-radius: 5px;
    background-color: #282623;
    box-shadow: 0 2px 10px #00000044;
    margin-bottom: 16px;
    padding: 16px;
}

.product--container img {
    margin-bottom: 10px;
}

.product--container p {
    margin-top: 16px;
}

.main--hero {
    text-align: center;
    color: var(--just-white);
    height: 387px;
    background-image: url('../assets/bitcoinbaby\ 1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

.main--hero h1, .main--buy h1 {
    margin-top: 64px;
}

.main--buy {
    text-align: center;
}

.main--buy-title-container {
    padding: 0 16px;
}

.main--buy-title-container p {
    margin-top: 20px;
    color: #757575;
}


.plans--slider {
    display: flex;
    overflow-x: scroll;
    gap: 30px;
    overscroll-behavior-x: contain;
    scroll-snap-type: x     proximity;
}

.main--buy-content {
    scroll-snap-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 65px;
    padding: 19px 0;
    width: 60%;
    min-width: 170px;
    max-width: 200px;
    border-radius: 8px;
    background-color: var(--just-white);
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}

.main--buy-content:nth-of-type(1) {
    order: 2;
}

.main--buy-content:nth-of-type(2) {
    order: 1;
}

.main--buy-content:nth-of-type(3) {
    order: 3;
}

.main--buy-content:nth-of-type(2) #tag, .main--buy-content:nth-of-type(3) #tag {
    visibility:hidden;
}

#tag {
    position: absolute;
    align-self: center;
    top: -20px;
    margin: 0 auto;;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    padding: 8px;
    border-radius: 8px;
    width: fit-content;
    color: var(--just-white);
    background-color: var(--bitcoin-orange);
}

.main--buy-content h3 {
    display: inline-block;
    margin-top: 10px;
    font-size: 1.4rem;
}

.main--buy-content h4 {
    display: inline-block;
    margin-top: 8px;
    font-family: 'Inter', sans-serif;
    font-size: 5.2rem;
    letter-spacing: -0.08em;
}

#p {
    font-size: 1.2rem;
    color: #757575;
    width: 80%;
    margin: 0 auto;
    margin-top: 16px;
}

.main--buy-content a  {
    display: flex;
    height: 48px;
    width: 151px;
    align-self: center;
    align-items: center;
    margin-top: 16px;
    padding: 12px 16px;
    border: 2px solid var(--bitcoin-orange);
    border-radius: 40px;
    font-size: 1.4rem;
    line-height: 18px;
    color: var(--black);
    background-color: var(--off-white);
    text-decoration: none;
}

.main--buy-content a:hover {
    cursor: pointer;
    box-shadow: 0 1px 10px #00000066;
}

.main--buy-content span {
    display: inline-block;
    margin-left: 5px;
    width: 22px;
    height: 15px;
    background-image: url('../assets/arrow-right.svg');
    background-position: center;
    background-repeat: no-repeat;
}

footer {
    width: 100%;
    min-width: 320px;
    height: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--bitcoin-orange);
}

.right_footer {
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right_footer ul {
    list-style: none;
}

.right_footer a {
    width: fit-content;
    text-decoration: none;  
    color: var(--just-white);
    font-size: 1.4rem;
    line-height: 18px;
}

.left_footer {
    justify-self: end;
    padding-right: 40px;
    margin: auto 0;
}
